@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  color: #000000;
  min-height: 100vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-header {
  margin: 0;
  padding: 1rem 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e1e6f0;
}

#main-header-loading {
  height: 2rem;
  margin-bottom: -2rem;
  text-align: center;
  accent-color: #2f82ff;
}

#header-title {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}


#header-title h1 {
  font-size: 2rem;
  color: #2f82ff;
}

#main-header nav {
  display: flex;
  gap: 1rem;
}

#overview-section {
  margin: -8rem 0 3rem 0;
  padding: 3rem 15%;
  color: #2f82ff;
  text-align: center;
}

#overview-section h2 {
  font-size: 2.5rem;
  margin: 2rem auto;
  color: #1d161a;
}

#overview-section h2 strong {
  color: #2f82ff;
}

#overview-section p {
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
}

.content-section {
  margin: 3rem 0 6rem 0;
  padding: 0 15%;
}

.content-section h2 {
  padding: 1rem 0 0 0;
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
  margin: 2rem auto;
  color: #2f82ff;
}

.events-list {
  max-width: 80rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 2rem;
}

.event-item {
  height: 100%;
  width: 19rem;
  padding: 1rem;
  border-radius: 4%;
  background-color: #e1e6f0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.event-item-content {
  height: 100%;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-item h2 {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #2f82ff;
}

.event-item .event-item-date {
  margin: 1rem;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
}

.event-item .event-item-location {
  margin: 0.5rem;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
}

.event-item .event-item-description {
  margin-top: 2.5rem;
  font-size: 1.1rem;
  font-family: 'Quicksand', sans-serif;
}

.event-item-status {
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  float:left;
}

.event-item-status.pending {
  color: #2297e6;
}

.event-item-status.ready {
  color: #ff9800; 
}

.event-item-status.delivered {
  color: #4caf50; 
}

.event-item-status.cancelled {
  color: #d31e1e;
}

.button-item {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #2f82ff;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  font-weight: bold;
  text-decoration: none;
  float: right;
}

.button-item:hover {
  background-color: #2066cf;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

#event-form label {
  display: block;
  font-weight: bold;
  font-size: 0.85rem;
  margin-bottom: 0.25rem;
  color: #3c4249;
  text-transform: uppercase;
}

#event-form input,
#event-form textarea {
  font: inherit;
  font-size: 1.1rem;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #2f82ff;
  width: 100%;
}

#event-form select {
  font: inherit;
  font-size: 1.1rem;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #2f82ff;
  width: 100%;
}

.controls-row {
  display: flex;
  gap: 2rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}


#event-details header {
  width: 40rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#event-details header nav {
  display: flex;
  gap: 1rem;
}

#event-details header button,
#event-details header a {
  font: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #2f82ff;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  padding: 0.25rem;
}

#event-details-content {
  width: 40rem;
  margin: 1rem auto;
  background-color: #e1e6f0;
  border-radius: 8px;
  overflow: hidden;
  padding: 2rem;
}

#event-details time {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

#event-details-location {
  font-size: 1.15rem;
  color: #000000;
  font-weight: bold;
  margin: 0;
}

#event-details-status {
  font-size: 1.30rem;
  color: #000000;
  font-weight: bold;
  margin: 0;
  float: right;
}

#event-details-description {
  font-size: 1.25rem;
  line-height: 3rem;
  color: #000000;
}

.modal {
  margin: 0;
  padding: 2rem;
  position: fixed;
  top: 10vh;
  left: calc(50% - 15rem);
  width: 30rem;
  max-height: 80vh;
  background: #e2e5eb;
  border: none;
  border-radius: 6px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: slide-down-fade-in 300ms ease-out forwards;
}

.modal::backdrop {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

.nav-item {
  text-decoration: none;
  color: #2f82ff;
  border: 1px solid #2f82ff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.nav-item:hover {
  background-color: #ffffff80;
}



.button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #2f82ff;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  font-weight: bold;
  text-decoration: none;
}



.button-text {
  font: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border: none;
  color: #3f0c26;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
}

.button-text:hover {
  color: #7c184c;
}

.error-block {
  background-color: #f0d9e5;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 4px;
  color: #890b35;
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: left;
}

.error-block-icon {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  color: #fff;
  background-color: #890b35;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-block h2 {
  color: inherit;
  font-size: 1.25rem;
  margin: 0;
}

.error-block p {
  margin: 0;
}

.center {
  text-align: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 1rem 0;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #e30d5b;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #e30d5b transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-down-fade-in {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.plus-icon{
  height: 1.9rem;
  color: #2f82ff;
  float:left;
}

.trash-icon{
  height: 25px;
}

.addColumn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 50px;
  width: 250px;
  padding-left: 1rem;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #2f82ff;
  font-size: 1rem;
  color: #2f82ff;
}

.addColumn:hover {
  background-color: #ecf3ff;
}

.kanbann {
  margin: 5rem 3rem 3rem 3rem;
  max-width: 95vw; 
  width: 100%;
  justify-content: center;
  padding: 0 2rem; 
  overflow-x: auto; 
}


.columns{
  display: flex;
  gap: 4rem;
  width: 100%;
}

.column{
  width: 300px;
  height: 500px;
  max-height: 500px;
  background-color: #e1e6f0 ;
  border-radius: 1rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}


.cotent{
  display: flex;
  flex-grow: 1;
}

.flex{
  background-color: #2f82ff;
  height: 60px;
  cursor:grab;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: larger;
  font-weight:900;
  border: 5px solid #e1e6f0;
  padding-left: 1.2rem;
  padding-right:1.2rem;
  padding-top: 0.8rem;
  display: flex;
  color:#ffffff;
  justify-content: space-between;
}

.flex button{
  background-color: #2f82ff;
  border:none;
  padding-bottom:18px;
  font-weight:700;
  color:#ffffff;
}

.flex button:hover{
  cursor: pointer;
  color:#b9d5ff;
}

.titulo{
  display: flex;
}






section.kanban {
  display: flex;
  gap: 3.5rem;
  padding: 2rem 8rem 3rem 8rem;
  min-height: 40rem;
}

section.kanban > * {
  flex: 1;
  padding: 2.4rem;
}

.card{
  padding: 1.3rem;
  background-color: #e1e6f0;
  border-radius: .8rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  line-height: 130%;
}

.card h3{
  font-size: 1.3rem;
  margin: 0;
  color: #2f82ff;
}

.card p{
  font-size: 1.1rem;
  font-weight: 500;
  margin: 1rem 0;
  color: #696969;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.area {
  background-color: #edf1f846;
  border-radius: 8%;
}

.area h2 {
  margin: 0 0 1rem 0;
}